REACT_APP_HIGH_SCORE_API_ENDPOINT=your_high_score_api_endpoint
REACT_APP_HIGH_SCORE_API_KEY=your_high_score_api_key
REACT_APP_LIKE_API_ENDPOINT=your_like_api_endpoint
REACT_APP_LIKE_API_KEY=your_like_api_key
REACT_APP_FORM_ENDPOINT=your_form_endpoint
REACT_APP_CAPTCHA_SITEKEY=your_captcha_sitekey
